nav {
  display: flex;

  justify-content: space-between;

  align-items: center;

  padding: 1rem 3rem;

  background: rgba(255,255,255,0.5);

  backdrop-filter: blur(10px);

  position: sticky;

  top: 0;

  z-index: 1000;

  box-shadow: 0 5px 20px rgba(255,182,193,0.3);
}

.logo {
  text-shadow:
  0 0 10px rgba(255,105,180,0.5);
  font-size: 2rem;

  font-family: 'Dancing Script', cursive;

  color: #ff69b4;

  font-weight: bold;
}

.nav-links {
  display: flex;

  gap: 1.5rem;
}

.nav-links a {
  position: relative;
  text-decoration: none;

  color: #d45d9e;

  font-weight: 500;

  padding: 0.7rem 1.2rem;

  border-radius: 999px;

  transition: 0.3s;
}
.nav-links a::after {
  content: "";

  position: absolute;

  left: 0;
  bottom: -5px;

  width: 0%;

  height: 3px;

  background: #ff69b4;

  border-radius: 999px;

  transition: 0.3s;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  background: #ffd6ea;

  color: #ff1493;

  transform: translateY(-3px);
}
.dark-mode-btn {
  border: none;

  background: #ffd6ea;

  padding: 0.8rem 1rem;

  border-radius: 50%;

  cursor: pointer;

  transition: 0.3s;
}

.dark-mode-btn:hover {
  transform: scale(1.1);
}